@tailwind base;
@tailwind components;
@tailwind utilities;


/* stili sempre presenti*/
:root{
    --background-color: #000;
    --nav-color: #fff;
    --nav-hover-color: #ADCA21;
    --btn-primary-color: #000;
    --btn-primary-hover-color: #fff;
    --btn-text-color: #fff;
    --btn-text-hover-color: #000;
}

body{
    font-family: "Figtree", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: var(--background-color);
    height: 100%; /* per far coprire tutto allo sfondo, anche pagine corte*/
}

.title {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
}

.text {
    font-size: 20px;
    opacity: .8;
    color: #fff;
}

.medium-text{
    font-size: 18px;
    opacity: .8;
    color: #fff;
    font-weight: 600;
}

.small-text{
    font-size: 14px;
    opacity: .8;
    color: #fff;
    font-weight: 400;
}

[hidden] {
    display: none !important; 
}

.selected {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--nav-color);
    font-size: 18px;
    font-weight: 700px;
    transition: color .2s, background-color .2s;
    text-decoration: none; /* rimuovo sottolineatura */
}

.selected:hover {
    color: var(--nav-hover-color);
    text-decoration: none; /* rimuovo sottolineatura */
}

*, *::before, *::after { box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.back-button{
    margin-top: 30px;
    margin-left: 30px;
    width: 30px;
    height: 30px;
}