@import "./header.css";
@import "./guest.css";
@import "./footer.css";
@import "./components/form.css";
@import "./components/button.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* stili sempre presenti*/
:root{
    --background-color: #000;
    --nav-color: #fff;
    --nav-hover-color: #ADCA21;
    --btn-primary-color: #000;
    --btn-primary-hover-color: #fff;
    --btn-text-color: #fff;
    --btn-text-hover-color: #000;
}

body{
    font-family: "Figtree", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: var(--background-color);
    height: 100%; /* per far coprire tutto allo sfondo, anche pagine corte*/
}

.title {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
}

.text {
    font-size: 20px;
    opacity: .8;
    margin-top: 30px;
    color: #fff;
}

.medium-text{
    font-size: 18px;
    opacity: .8;
    color: #fff;
    font-weight: 600;
}

.small-text{
    font-size: 14px;
    opacity: .8;
    color: #fff;
    font-weight: 400;
}

.selected {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--nav-color);
    font-size: 20px;
    font-weight: 700px;
    transition: color .2s, background-color .2s;
}

.selected:hover {
    color: var(--nav-hover-color);
}

