.footer{
    height: auto;
    display: flex;
    padding-top: 5px;
    flex-direction: column;
    gap: 10px;
    border-top: 3px solid #ADCA21;
}


.footer-info{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 300px;
    justify-content: center;
    margin: 0 auto;
}


.footer-element{
    margin-top: -20px;
    margin-bottom: 50px;
}

.selected-footer {
    transition: color .2s, background-color .2s;
    font-size: 14px;
    opacity: .8;
}

.selected-footer:hover {
    color: var(--nav-hover-color);
}


/* stili */
.info{
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.info li{
  margin-bottom: 8px; /* spazio tra righe */
}

/* singolo contatto */
.elements{
    display: flex;
    align-items: center;
    gap: 10px;                 /* distanza da icona */
    white-space: nowrap;
}


/* icona contatto */
.icon{
    width: 18px;
    height: 18px;
}

/* logo sito */
.iconBrowser{
    justify-self: center;
    height: 120px;
    width: 120px;
}

/* diritti */
.footer-rights{
    text-align: center;
    width: 100%
}