.button{
    background: var(--btn-primary-color);
    border: 1px solid #fff;
    color: var(--btn-text-color);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 10px;
    transition: background-color .2s, color .2s;;
    text-decoration: none;
    cursor: pointer; /* trasforma il cursore in una mano al passaggio */
    display: inline-flex; /* adatto larghezza al contenuto, una sola riga */
    align-items: center; /* allineo elementi verticalmente al centro*/
    justify-content: center; /* allineo elementi orizzontalmente al centro*/
}

.button:hover{
    background: var(--btn-primary-hover-color);
    color: var(--btn-text-hover-color);
  }


.login-confirm{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex; /* dispongo elementi in riga */
    justify-content: center; /* centro orizzontale */
}


/* aggiungi utente */
.new-element{
    margin-top: 30px;
    margin-left: 10px;
}