.site-header{
    /* posizione */
    position: sticky;
    top: 0;
    z-index: 500;

    /* dimensione */
    width: 100%;
    height: 155px;

    /* organizzazione interna */
    padding-left: 20px;
    padding-right: 20px;
    background: #000;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    border-bottom: 3px solid #ADCA21;
  }

  /* spazio sinistro */
  .header-left{
    display: inline-flex; /* orientamento elementi */
    justify-self: start; /* posizionamento */
    align-items: center;
  }

  .header-logo{
    /* dimensione */
    width: 360px; 
    height: 120px;
    object-fit: contain;
    display: block;
  }

  /* spazio centrale */
  .header-center{
    display: inline-flex;
    justify-self: center; /* centro perfettamente */
    align-self: end;
    align-items: center;
    padding-bottom: 20px;
    gap: 100px;
  }

  /* spazio destro */
  .header-right{
    justify-self: end;
    display: inline-flex;
    align-items:center;
    justify-content:center;
  }

.button-login{
    font-size: 16px;
    font-weight: 500;
  }

.button-icon{
  width: 30px;
  height: 30px;
  margin-left: 10px; /* spazio tra testo e icona */
  padding: 6px;       /* spazio interno all'icona */
  object-fit: contain;
  display: inline-flex;
  color: #fff;
}