.login-form{
    width: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.form-label{
    width: 100%;
    display: block;
    border-radius: 10px;
}

.form-label:focus{
    outline: none;
    border: 2px solid #ADCA21;
    box-shadow: 0 0 5px #ADCA21;
}

.remember-me{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

