.user-space{
    margin: 30px auto;
    width: min(100%, 1200px);
    height: auto;
}

/* contiene form */
.create-user-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: start;
}

/* singolo form */
.form-group{
    display: flex;
    flex-direction: column;
    gap: 5px;
}