.product-space{
    width: 1200px;
    height: auto;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
}


/* dati prodotto */
.product-section{
    flex: 1;
    margin: 30px;
    text-align: left;
}

.product-section > p{
    width: 100%;
    margin: 0;
}


.product-name{
  height: auto;
  color: #000;
  font-size: 28px;
  padding-bottom: 30px;
}

.product-cat{
  height: auto;
  padding-top: 20px;
  color: #000;
  font-size: 22px;
  padding-bottom: 20px;
}


.product-data{
  height: auto;
  opacity: .8;
  border-bottom: 1px solid #000;
  padding-bottom: 12px;
}

.product-malf{
  height: auto;
  opacity: .8;
  padding-bottom: 12px;
  outline: none;
  color: #000;
}


.product-malf:focus{
    outline: none;
    color: #ADCA21;
    box-shadow: 0 0 5px #ADCA21;
}


.product-photo{
  flex: 0 0 350px;
  flex-shrink: 0;
  height: 350px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
  margin: 40px 40px 40px 0;
}

.product-photo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

