.product-card{
    height: auto;
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    outline: 6px solid red
}


/* dati prodotto */
.product-section{
    flex: 1;
    margin-left: 30px;
    text-align: left;
}

.product-section > p{
    width: 100%;
    margin: 0;
}


.product-name{
  height: auto;
  margin: 0 0 6px;
}


.product-data{
  height: auto;
  margin: 0 0 24px;
  opacity: .8;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}

.product-photo{
  flex: 0 0 350px;
  flex-shrink: 0;
  height: 350px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}

.product-photo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}