.product-card{
    height: 500px;
    width: 1050px;
    margin: 30px auto auto 30px;
}


.product-photo{

}


/* dati prodotto */
.product-section{

}


.product-name{

}


.product-description{

}


.product-use-techniques{

}

.product-use-techniques-data{

}


.product-installation{

}

.product-installation-data{
    
}