.product-card{
    height: 300px;
    width: 1050px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}


.product-photo{

}


/* dati prodotto */
.product-section{

}


.product-name{

}


.product-description{

}


.product-use-techniques{

}

.product-use-techniques-data{

}


.product-installation{

}

.product-installation-data{
    
}