.product-card{
    align-items: center;
}


.product-photo{

}


/* dati prodotto */
.product-section{

}


.product-name{

}


.product-description{

}


.product-use-techniques{

}

.product-use-techniques-data{

}


.product-installation{

}

.product-installation-data{
    
}