.product-card{
    height: 500px;
    width: 1200px;
    max-width: 1200px;
    margin: 50px auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}


.product-photo{
  width: 35px;
  height: 350px;
  padding: 10px; /* margine interno attorno all'immagine */
  box-sizing: border-box; /* lascio dimensioni fisse */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 60px;
}


.product-photo img{
  width: 100%;
  height: 100%;
  object-fit: contain; /* evito che contenitore si ingrandisca */
  display: block; /* rimuovo spazio che appare di default per un'immagine */
}


/* dati prodotto */
.product-section{
    margin-left: auto; /* spingo tutto a destra */
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}


.product-name{
    width: 600px;
    height: 100px;
    color: #000;
    padding-bottom: 10px;
}


.product-data{
    width: 400px;
    height: 200px;
    color: #000;
    opacity: .8;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}
