.users-layout{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonne */
    gap: 150px;
    height: auto;
    margin: 50px 150px;
}

/* card dettagli centro selezionato */
.card-user-data{
    width: auto;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 120px;
    padding: 20px;
}

/* colore testo */
.user-item{
    color: #000;
    font-weight: 900;
}