/* card profilo utente */
.profile-card{
    height: auto;
    max-width: 1000px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 40px auto;  /* centro orizzontale + un po' di spazio sopra/sotto */
}


/* titolo card */
.profile{    
    text-align: center;
    color: black;
}


/* logout */
.logout-container{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button-logout{
    font-size: 16px;
}