/* divido schermata in sezioni */
.where-layout{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonne */
    gap: 150px;
}

/* sezione elenco centri */
.centers-list{
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 350px;
    margin-left: 150px;
}

.centers-header{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

/* scroller verticale per i centri */
.centers{
    display: flex; /* dispongo elementi in fila */
    flex-direction: column; /* do orientamento verticale */
    gap: 16px; /* spazio tra centri */
    max-height: 600px;
    height: auto; /* altezza contenitore */
    overflow-y: auto; /* abilita scroll verticale se necessario */
    padding: 15px 10px;
}


/* card singolo centro */
.center-single{
    width: 100%;
    height: 90px;
    background: rgba(255,255,255,0.03); /* colore sfondo */
    border: 1px solid rgba(173,202,33,0.2); /* colore bordo */
    padding-left: 12px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    transition: transform .2s ease, box-shadow .2s ease, border-color .2s ease; /* transazione hover */
    cursor: pointer;
}

.center-single:is(.is-selected){
  outline: 2px solid rgba(173,202,33,0.9);
  outline-offset: 3px;
}

.center-single:hover{
    transform: translateY(-4px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.5);
}

/* colore testo */
.center-item{
    color: #000;
    font-weight: 900;
}

/* card dettagli centro selezionato */
.card-center-data{
    width: auto;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 120px;
    padding: 20px;
}